*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



.logo {
     font-size: 50px ;

}

.btn{
     background-color:  #30B868;
     border: none;
     padding: 12px 16px;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     cursor: pointer;

}


header{
    background-color:#FFFFFF ;
    /*background-color: aqua;*/
    padding-top: 16px;


}
nav{
    width:100% ;
    max-width: 1600px;
    /*border: 1px solid red;*/
    margin: 0px auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    
}
#banner{
    width: 100%;
    max-width: 1600px;
   /*border: 1px solid red;*/
    margin: 0px auto ;
    padding: 116px 120px 180px 120px;
     background-image: url('../assets/hero-bg.png');
     background-size: cover ;
     text-align: center;
     align-items: center;
     display: flex;
     justify-content: center;
}


#banner .banner-content{
    /*border: 1px solid red;*/
 
    max-width: 1360px;
    height: 379px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 84px;
    margin-bottom: 180px;
    margin-top: 116px;
}
#banner .banner-content .container .badge-btn{
    font-size: 16px;
    font-weight: 400;
    background-color: #FFFFFF;
    padding: 8px 12px;
    color: #30B868;
    border-radius: 1000px;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.badge-btn .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #30B868;
    box-shadow:0px 0px 0px 3px #aceac6,  0px 0px 0px 5px #d1d9d5 ;
    margin: 0 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    

}

#banner .banner-content .container .text-container h1 {

    font-size: 72px;
    font-weight: bold;
    color:#FFFFFF ;
    
}
.text-container .text{
    color: #30B868;
      font-size: 72px;
    font-weight: bold;
   

} 
.text-container p{
    font-size: 18;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
    

}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    bottom: 0px;
    
}
.btn-container .btn-play{
     background-color: transparent; 
     padding: 12px 16px;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     box-shadow: 1px;
     border: 1px solid #FFFFFF;
     cursor: pointer;
     

}
#logo{
    padding: 0 120px 120px 120px;
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

#logo .section-container{
     width: 100%;
    /*max-width: 1600px;*/
    display: flex;
    gap: 44px;
     flex-direction: column;
    
}

#logo .section-container .section-heading{
    align-items: center;
    height: auto;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 44px;
    justify-content: center;
    text-align: center;
     align-items: center;

}
#logo .section-container .section-heading h1{
    font-size: 48px ;
    font-weight: bold;
    color: #001931;

    padding-top: 50px;
    
}

#logo .section-container .section-heading p{
font-size: 16px;
font-weight: 400px;
color:#627382 ;
line-height: 20px;
padding-top: 16px;


}


.card{
    /*width: 70%;
    max-width: 1360;*/
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

    /*border: 1px solid red;*/
}

.card-info {
 padding: 24px;
 max-width: 322px;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 box-shadow: 0 0 8px 0 #cdc8c8;


}
.card-info img{
    width:50px;
    height: 50px;
    margin-bottom: 16px;
  border: 1px solid red;
   background-color: #f95555;
   border-radius: 50%;
   object-fit: cover;
   
}
.card-info h3{
    max-width: 274px;
    font-size:24px;
    font-weight:600;
    color:#001931 ;
    margin-bottom: 16px;

}
.card-info p{
    max-width: 274px;
    font-size:16px ;
    font-weight: 400 ;
    line-height: 20px;
    color:#627382 ;
    margin-bottom:  2rem;
}
#features{
padding: 120px;
margin: 40px 0;
background-color: #FFFFFF;
display: flex;
justify-content: center;
}

#features .features-container{
   width: 100%;
   max-width: 1600px ;
}
#features .features-container .features-content{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;

}
.features-content img{
    max-width: 600px;
    border-radius: 12px;
   
}
.features-info h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #30B868;
    /*margin-bottom: 16px;
    margin-top: 102px;*/
   
}
.features-info h2{
font-size: 48px;
font-weight:bold;
color: #001931;
margin-bottom: 16px;



}
.features-info  p{
    max-width: 700px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
     margin: 0 auto 40px;
    text-align: left;
}
.features-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.features-list li{
   padding-left:20px;
   font-size: 16px;
   margin-bottom: 16px;
   position: relative;
   background-image: url("../assets/CheckCircle.png");
   background-repeat: no-repeat;
   background-position: 0 6%;
   background-size: 20px 20px;
}
#about{
   
    padding: 2px 120px 120px 120px;
    gap:40px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    /*border: 1px solid red;*/
}
#about .about-container{
    padding: 80px 40px 80px 40px;
    width: 100%;
    max-width: 1360px;
    border-radius: 12px;
    /*border: 1px solid red;*/
    background-color: #F7F6F2;
}
.about-content h1{
    font-size: 40px;
    font-weight:bold ;
    max-width:1280px ;
    margin: 0 auto;
    color: #001931;
    text-align: center;
    margin-bottom: 20px;
}
.about-content p{
    font-size: 16px;
    font-weight: 400;
    max-width: 1280px;
    margin: 0 auto;
    line-height:24px ;
    color: #627382;
    text-align: center;

}
 .about-content .btn-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

.about-content .btn-content .btnn{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    margin-top:24px ;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
   


} 
.about-content .btn-content p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
    margin: 0;
}

#footer-section{
    padding: 120px 120px 30px 120px;
    
}

