*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



.logo {
     font-size: 50px ;

}

.btn{
     background-color:  #30B868;
     border: none;
     padding: 12px 16px;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     cursor: pointer;

}


header{
    background-color:#FFFFFF ;
    /*background-color: aqua;*/
    padding-top: 16px;


}
nav{
    width:100% ;
    max-width: 1600px;
    /*border: 1px solid red;*/
    margin: 0px auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    
}
#banner{
    width: 100%;
    max-width: 1600px;
   /*border: 1px solid red;*/
    margin: 0px auto ;
    padding: 116px 120px 180px 120px;
     background-image: url('../assets/hero-bg.png');
     background-size: cover ;
     text-align: center;
     align-items: center;
     display: flex;
     justify-content: center;
}


#banner .banner-content{
    /*border: 1px solid red;*/
 
    max-width: 1360px;
    height: 379px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 84px;
    margin-bottom: 180px;
    margin-top: 116px;
}
#banner .banner-content .container .badge-btn{
    font-size: 16px;
    font-weight: 400;
    background-color: #FFFFFF;
    padding: 8px 12px;
    color: #30B868;
    border-radius: 1000px;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.badge-btn .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #30B868;
    box-shadow:0px 0px 0px 3px #aceac6,  0px 0px 0px 5px #d1d9d5 ;
    margin: 0 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    

}

#banner .banner-content .container .text-container h1 {

    font-size: 72px;
    font-weight: bold;
    color:#FFFFFF ;
    
}
.text-container .text{
    color: #30B868;
      font-size: 72px;
    font-weight: bold;
   

} 
.text-container p{
    font-size: 18;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
    

}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    bottom: 0px;
    
}
.btn-container .btn-play{
     background-color: transparent; 
     padding: 12px 16px;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     box-shadow: 1px;
     border: 1px solid #FFFFFF;
     cursor: pointer;
     

}