*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo {
     font-size: 50px ;

}

.btn{
     background-color:  #30B868;
     border: none;
     padding: 12px 16px;
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;

}


header{
    /*background-color:#FFFFFF;*/
    background-color: aqua;
    padding-top: 16px;


}
nav{
    width:100% ;
    max-width: 1600px;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    
}
